<div class="background">
<h1 class="legend-name">Important NY Yankees Information!!</h1>


<p>
<div id="map-canvas"></div>
 
 <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwPQEm3-vcpwWtiXsUfqjyoY1KoE14Xkc">
 </script>
</p>
</div>