<h1 id="legendsTopHeader">Yankees Legends</h1>

<p>Find me in app/views/stadium/players.html.erb</p>
  <div class="row legends">
    
     <div class="col-md-4">
     	
     	<div class="panel-group">
     		<div class="panel panel-default">
               <div class="panel-body legend-name">Don Mattingly</div>
            </div>
            <div class="panel panel-default">
            	<div class="panel-body playerName"> <p> Donny Baseball is an all time Yankees legend. He was the heart of the Yankees during the 80s to mid 90s, bridging the gap of the championship teams of the late 70s to the championship teams of the late 90s. 
            	</p><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mattingly">View Stats</button>
                2</div>
            </div>
        </div>

     </div>
  
  </div>
