<div class="background">
<h1 id="legendsTopHeader">Yankees Legends</h1>

<div class="container">
<div class="row">

<div class="col-md-4">
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-body legend-name">Don Mattingly</div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body playerName"> <p> Donny Baseball is an all time Yankees legend. He was the heart of the Yankees during the 80s to mid 90s, bridging the gap of the championship teams of the late 70s to the championship teams of the late 90s.  </p><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mattingly">
  View Stats
</button></div>
  </div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="mattingly" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="myModalLabel">Career Stats</h4>
      </div>
      <div class="modal-body">
        <p><script type="text/javascript" src="//widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fm%2Fmattido01.shtml&div=div_batting_standard"></script></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="col-md-4">
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-body legend-name">Mickey Mantle</div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body playerName"> <p> An All Time Yankees Legend, Hall of Famer Mickey Mantle was a hero to generations of Yankees fans. A switch hitter with tremendous power. His towering home runs are Yankee Legend. </p><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mantle">
  View Stats
</button></div>
  </div>
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="mantle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="myModalLabel">Career Stats</h4>
      </div>
      <div class="modal-body">
        <p><script type="text/javascript" src="//widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fm%2Fmantlmi01.shtml&div=div_batting_standard"></script></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="col-md-4">
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-body legend-name">Derek Jeter</div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body playerName"> <p> Derek Jeter is the modern day Yankees Legend. The All Time Yankees hits leader, he hasa legion of fans in New York. Captain Clutch was known for his gutsy and game changing performances. He is idolized not only among fans but with his "peers" as well. Even athletes in other sports such as that ugly, cheater Tom Brady try to emulate Derek Jeter, they fail miserably, especially Shady Brady but at least they try to emulate the best. </p><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#jeter">
  View Stats
</button></div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="jeter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="myModalLabel">Career Stats</h4>
      </div>
      <div class="modal-body">
        <p><script type="text/javascript" src="//widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fj%2Fjeterde01.shtml&div=div_batting_standard"></script></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>

</div>
</div>
</div>
