// Place all the styles related to the Stadium controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#map-canvas {
  width: 500px;
  height: 500px;
}

#legendsTopHeader, .legend-name {
	text-align: center;
	background: #1c2841;
	color: white;
}

.background {
	background: #1c2841;
	color: white;
}

.playerName {
	background: #1c2841;
	color: white;
}


.blogBody {
	background: #1c2841;
}

.modalText {
	color: #1c2841;
}

#myModalLabel {
color: #1c2841;
}